$color1:#409EFF;
$color2:#70B603;
$font-color1:#fff;
$font-color2:#555;

// 字体大小
$font-size12:12px;
$font-size14:14px;
$font-size16:16px;
$font-size18:18px;
$font-size20:20px;

// 背景阴影
$back-shadow:0 2px 4px rgba(0, 0, 0, 0.12);