<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <title>老人信息大数据分析平台</title>
  <link href="../plugin/layui/css/layui.css" rel="stylesheet" type="text/css" />
  <link href="../public/css/base.css" rel="stylesheet" type="text/css" />
  <link href="../libs/css/censusData.css" rel="stylesheet" type="text/css" />
  <script src='../plugin/layui/layui.js' type='text/javascript'></script>
  <script src="../plugin/echarts/echarts.min.js" type='text/javascript'></script>
  <script src="../plugin/jQuery/jQuery.min.js"></script>
  <script src='../public/js/root.js' type='text/javascript'></script>
  <script src='../public/js/url.js' type='text/javascript'></script>
</head>

<body>
  <div class="box">
    <div class="container">
      <div class="layui-row">
        <form class="layui-form" action="">
          <div class="header">
            <div class="time-box">
              <span class="date"></span>
              <span class="time"></span>
            </div>
            <span>养老统计数据展示</span>
          </div>
        </form>
        <div class="main-tab">
          <a href="./index.html"><span class="back"></span>返回首页</a>
          <a href="javascript:location.reload(true);"><span class="reload"></span>刷新</a>
        </div>
      </div>
    </div>
    <div class="tabLayui">
      <div class="service-box service-top layui-row">
        <div class="layui-col-md3">
          <div class="theOld-live">
            <h3>老人居住情况统计</h3>
            <div class="chart-box" id="theOld-live"></div>
          </div>
        </div>
        <div class="layui-col-md3">
          <div class="theOld-type">
            <h3>老人类型统计</h3>
            <div class="chart-box" id="theOld-type"></div>
          </div>
        </div>
        <div class="layui-col-md3">
          <div class="theOld-selfCare">
            <h3>老人自理情况统计</h3>
            <div class="chart-box" id="theOld-selfCare"></div>
          </div>
        </div>
        <div class="layui-col-md3">
          <div class="theOld-economy">
            <h3>老人经济来源统计</h3>
            <div class="chart-box" id="theOld-economy"></div>
          </div>
        </div>
      </div>
      <div class="service-box service-bottom layui-row">
        <div class="layui-col-md6">
          <div class="theOld-service">
            <h3>本年老人所需服务占比</h3>
            <div class="chart-box" id="theOld-service"></div>
          </div>
        </div>
        <div class="layui-col-md6">
          <div class="theOther-service">
            <h3>本年不同年龄段所需服务情况</h3>
            <div class="chart-box" id="theOther-service"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src='../libs/js/censusData.js' type='text/javascript'></script>
</body>

</html>