<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../../public/common/css/frameWork.css" rel="stylesheet" type="text/css" />
    <link href="../../../libs/css/article/article.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../../plugin/jQuery/jQuery.min.js"></script>
    <script type="text/javascript" src="../../../plugin/jQueryCookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../../plugin/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../../plugin/templateWeb/templateWeb.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/common.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/publicModule.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/request.js"></script>
    <script>
        $(function () {
            GeneralPart(1);
        })
    </script>
    <title>智慧养老服务平台</title>
</head>

<body>
    <div style='height: 100%; background-color:#fff;'>
        <header></header>
    </div>
    <nav>
        <div class='layui-row'>
            <div class='layui-main'>
                <ul class="layui-nav" lay-filter="" style='margin: 0 0 10px 0'>
                    <li class="layui-nav-item layui-this layui-selete ">
                    </li>
                    <li class="layui-nav-item layui-this">
                        <a href="../../index.html">首页</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../oneStop/oneStop.html?level=U2Vjb25kbGV2ZWw=">一站式服务</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../article/article.html?level=U2Vjb25kbGV2ZWw=&move=zxjj">中心简介</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../subColumn/subColumn.html?level=U2Vjb25kbGV2ZWw=&id=xwtz">新闻通知</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href='../subColumn/subColumn.html?level=U2Vjb25kbGV2ZWw=&id=zcfg'>政策法规</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href='../subColumn/subColumn.html?level=U2Vjb25kbGV2ZWw=&id=yscs'>养生常识</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href='../subColumn/subColumn.html?level=U2Vjb25kbGV2ZWw=&id=yxal'>优秀案例</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href='../activity/activty.html?level=U2Vjb25kbGV2ZWw='>老人活动</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class='layui-main2 pd20  hboder' style='margin-bottom: 20px;'>
        <div class='layui-row'>
            <div class="layui-col-xs12">
                <div class='city_new_left'>
                    <ul class='main_list_left'>
                        <div class='main_title'>关于我们</div>
                        <div class='main_time'>
                            来源：天津市天津市南开区民政局 &nbsp;&nbsp;&nbsp;&nbsp; 发布时间：2021-04-13 11:12
                        </div>
                        <hr>
                        <div id='webHtml'>
                            <p class="text_html">
                                天津南开民政局网站是天津市南开民政局的官方网站。天津南开民政局网站紧紧围绕“以民为本，为民解困，为民服务”宗旨，努力为增强民政工作的社会透明度服务，为扩大民政工作的社会参与度服务，为加大民政工作的社会开放度服务，为民政工作改革发展服务。
                            </p>
                            <p class="text_html">
                                天津南开民政局网站坚持“信息公开、在线办事和公众参与”三大政府网站功能定位，努力突出民政特色，将不断完善网站内容架构，努力为社会公众提供方便、优质、高效的服务，成为各级民政部门联系社会各界和人民群众的桥梁和纽带。
                            </p>
                            <p class="text_html">欢迎您对我们的工作提出宝贵建议、意见。</p>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>

</html>