<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../../public/common/css/frameWork.css" rel="stylesheet" type="text/css" />
    <link href="../../../libs/css/article/article.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../../plugin/jQuery/jQuery.min.js"></script>
    <script type="text/javascript" src="../../../plugin/jQueryCookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../../plugin/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../../plugin/templateWeb/templateWeb.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/common.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/publicModule.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/request.js"></script>
    <script>
        $(function () {
            GeneralPart(1);
        })
    </script>
    <title>智慧养老服务平台</title>
</head>

<body>
    <div style='height: 100%; background-color:#fff;'>
        <header></header>
    </div>
    <nav>
        <div class='layui-row'>
            <div class='layui-main'>
                <ul class="layui-nav" lay-filter="" style='margin: 0 0 10px 0'>
                    <li class="layui-nav-item layui-this layui-selete ">
                    </li>
                    <li class="layui-nav-item layui-this">
                        <a href="../../index.html">首页</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../oneStop/oneStop.html?level=U2Vjb25kbGV2ZWw=">一站式服务</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../article/article.html?level=U2Vjb25kbGV2ZWw=&move=zxjj">中心简介</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../subColumn/subColumn.html?level=U2Vjb25kbGV2ZWw=&id=xwtz">新闻通知</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href='../subColumn/subColumn.html?level=U2Vjb25kbGV2ZWw=&id=zcfg'>政策法规</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href='../subColumn/subColumn.html?level=U2Vjb25kbGV2ZWw=&id=yscs'>养生常识</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href='../subColumn/subColumn.html?level=U2Vjb25kbGV2ZWw=&id=yxal'>优秀案例</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href='../activity/activty.html?level=U2Vjb25kbGV2ZWw='>老人活动</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class='layui-main2 pd20  hboder' style='margin-bottom: 20px;'>
        <div class='layui-row'>
            <div class="layui-col-xs12">
                <div class='city_new_left'>
                    <ul class='main_list_left'>
                        <div class='main_title'>法律责任</div>
                        <div class='main_time'>
                            来源：天津市天津市南开区民政局 &nbsp;&nbsp;&nbsp;&nbsp; 发布时间：2021-04-13 11:12
                        </div>
                        <hr>
                        <div id='webHtml'>
                            <p class="text_html">
                                法律责任的认定和归结简称“归责”，它是指对违法行为所引起的法律责任进行判断、确认、归结、缓减以及免除的活动。
                                <br>
                                （一）归责原则
                                <br>
                                归责原则体现了立法者的价值取向，是责任立法的指导方针，也是指导法律适用的基本准则。归责一般必须遵循以下法律原则:
                                <br>
                                1、责任法定原则。其含义包括：
                                <br>
                                （1）违法行为发生后应当按照法律事先规定的性质、范围、程度、期限、方式追究违法者的责任；作为一种否定性法律后果，它应当由法律规范预先规定。
                                <br>
                                （2）排除无法律依据的责任，即责任擅断和“非法责罚”。
                                <br>
                                （3）在一般情况下要排除对行为人有害的既往追溯。
                                <br>
                                2、因果联系原则。其含义包括:
                                <br>
                                （1）在认定行为人违法责任之前，应当首先确认行为与危害或损害结果之间的因果联系，这是认定法律责任的重要事实依据。
                                <br>
                                （2）在认定行为人违法责任之前，应当首先确认意志、思想等主观方面因素与外部行为之间的因果联系，有时这也是区分有责任与无责任的重要因素。
                                <br>
                                （3）在认定行为人违法责任之前，应当区分这种因果联系是必然的还是偶然的，直接的还是间接的。
                                <br>
                                3、责任相称原则。其含义包括：
                                <br>
                                （1）法律责任的性质与违法行为性质相适应。
                                <br>
                                （2）法律责任的轻重和种类应当与违法行为的危害或者损害相适应。
                                <br>
                                （3）法律责任的轻重和种类还应当与行为人主观恶性相适应。
                                <br>
                                4、责任自负原则。其含义包括:
                                <br>
                                （1）违法行为人应当对自己的违法行为负责；
                                <br>
                                （2）不能让没有违法行为的人承担法律责任，即反对株连或变相株连；
                                <br>
                                （3）要保证责任人受到法律追究，也要保证无责任者不受法律追究，做到不枉不纵。
                                <br>
                                （二）免责
                                <br>
                                免责是指行为人实施了违法行为，应当承担法律责任，但由于法律的特别规定，可以部分或全部免除其法律责任，即不实际承担法律责任。 免责的条件和方式可以分为： 1、时效免责。
                                <br>
                                2、不诉免责。
                                <br>
                                3、自首、立功免责。
                                <br>
                                4、有效补救免责。即对于那些实施违法行为，造成一定损害，但在国家机关归责之前采取及时补救措施的人，免除其部分或全部责任。
                                <br>
                                5、协议免责或意定免责。这是指双方当事人在法律允许的范围内通过协商所达成的免责，即所谓“私了”。
                                <br>
                                6、自助免责。自助免责是对自助行为所引起的法律责任的减轻或免除。所谓自助行为是指权利人为保护自己的权利，在情势紧迫而又不能及时请求国家机关予以救助的情况下，对他人的财产或自由施加扣押、拘束或其他相应措施，而为法律或公共道德所认可的行为。
                                <br>
                                7、人道主义免责。在权利相对人没有能力履行责任或全部责任的情况下，有关的国家机关或权利主体可以出于人道主义考虑，免除或部分免除有责主体的法律责任。 惩罚补偿编辑
                                根据追究责任的目的分为补偿性责任和惩罚性责任 惩罚，即法律制裁，是国家以法律的道义性为基础，通过强制对责任主体的人身和精神实施制裁的责任方式。
                                补偿，是国家以功利性为基础，通过强制力或当事人要求责任主体以作为或不作为形式弥补或赔偿所造成损失的责任方式。
                            </p>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>

</html>