<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../../public/common/css/frameWork.css" rel="stylesheet" type="text/css" />
    <link href="../../../libs/css/article/article.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../../plugin/jQuery/jQuery.min.js"></script>
    <script type="text/javascript" src="../../../plugin/jQueryCookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../../plugin/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../../plugin/templateWeb/templateWeb.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/common.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/publicModule.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/request.js"></script>
    <script>
        $(function () {
            GeneralPart(1);
        })
    </script>
    <title>智慧养老服务平台</title>
</head>

<body>
    <div style='height: 100%; background-color:#fff;'>
        <header></header>
    </div>
    <nav>
        <div class='layui-row'>
            <div class='layui-main'>
                <ul class="layui-nav" lay-filter="" style='margin: 0 0 10px 0'>
                    <li class="layui-nav-item layui-this layui-selete ">
                    </li>
                    <li class="layui-nav-item layui-this">
                        <a href="../../index.html">首页</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../oneStop/oneStop.html?level=U2Vjb25kbGV2ZWw=">一站式服务</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../article/article.html?level=U2Vjb25kbGV2ZWw=&move=zxjj">中心简介</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../subColumn/subColumn.html?level=U2Vjb25kbGV2ZWw=&id=xwtz">新闻通知</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href='../subColumn/subColumn.html?level=U2Vjb25kbGV2ZWw=&id=zcfg'>政策法规</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href='../subColumn/subColumn.html?level=U2Vjb25kbGV2ZWw=&id=yscs'>养生常识</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href='../subColumn/subColumn.html?level=U2Vjb25kbGV2ZWw=&id=yxal'>优秀案例</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href='../activity/activty.html?level=U2Vjb25kbGV2ZWw='>老人活动</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class='layui-main2 pd20  hboder' style='margin-bottom: 20px;'>
        <div class='layui-row'>
            <div class="layui-col-xs12">
                <div class='city_new_left'>
                    <ul class='main_list_left'>
                        <div class='main_title'>隐私保护</div>
                        <div class='main_time'>
                            来源：天津市天津市南开区民政局 &nbsp;&nbsp;&nbsp;&nbsp; 发布时间：2021-04-13 11:12
                        </div>
                        <hr>
                        <div id='webHtml'>
                            <p class="text_html">
                                本网站内容由天津市天津市南开区民政局提供，凡注明来源为天津市天津市南开区民政局的所有作品，版权均属于天津市天津市南开区民政局，未经本网授权，任何媒体、互联网站和商业机构不得利
                                用本网站发布的内容进行商业性的原版原式地转载，也不得歪曲和篡改本网站所发布的内容。经本网授权使用的单位，不应超越所获授权范围，转载时须注明来源。
                                违反上述声明者，本网将追究其相关法律责任。
                            </p>
                            <p class="text_html">
                                本网站提供的资料如与相关纸质文本不符，以纸质文本为准。
                            </p>
                            <p class="text_html">本网转载其他媒体的作品，均会注明来源，转载目的在于传递更多信息，并不代表本网观点。</p>
                            <p class="text_html">鉴于网络的特性，本网站将无可避免地与您产生直接或间接的互动关系，当您在网站进行用户注册登记、参加网上或
                                公共论坛等各种活动时，在您的同意及确认下，本网站将通过注册表格等形式要求您提供一些个人资料。请了解，在未经您同意及确认之前，本网站不会将您为参加
                                本网站之特定活动所提供的资料利用于其它目的。
                                本网站将对您所提供的个人资料和信息进行严格的管理和保护，并使用相应技术，防止您的个人资料和信息泄露、丢失、被盗用或篡改。</p>
                            <p class="text_html">由于不可抗力原因或由于本网站链接之其它网站所造成的个人资料泄露、丢失、被盗用或篡改，以及由此引起的任何法律纷争和后果。本网站不承担责任。
                            </p>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>

</html>